/* STILE BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STILE HEADER */
#header {
    height: 120px;
    width: 100%;
    /* debug */
    background-color: #00f;
}

/* STILE MAIN */
#main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* debug */
    background-color: #0f0;
}

.card {
    height: 120px;
    width: 15%;
    margin: 30px calc((100% - (15% * 5)) / 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* debug */
    background-color: #f00;
}

.card .fas {
    font-size: 45px;
}

.card h4 {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 3px;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.hide {
    display: none;
}